data/UCF11/original_data/**/*.avi
data/UCF11/features_extracted/**/*.mat
data/UCF11/features_extracted/**/*.jpg
data/UCF11/encoded_data/**/*.mat

data/IITM_DVS_10/original_data/**/*.avi
data/IITM_DVS_10/features_extracted/**/*.mat
data/IITM_DVS_10/features_extracted/**/*.jpg
data/IITM_DVS_10/encoded_data/**/*.mat

data/IITM_DVS_12/original_data/**/*.avi
data/IITM_DVS_12/features_extracted/**/*.mat
data/IITM_DVS_12/features_extracted/**/*.jpg
data/IITM_DVS_12/encoded_data/**/*.mat

workspace_data/accuracies/UCF11/*.mat
workspace_data/accuracies/IITM_DVS_12/*.mat
workspace_data/accuracies/IITM_DVS_10/*.mat
workspace_data/accuracies/*.mat

workspace_data/classifiers/UCF11/*.mat
workspace_data/classifiers/IITM_DVS_12/*.mat
workspace_data/classifiers/IITM_DVS_10/*.mat
workspace_data/classifiers/*.mat

workspace_data/*.mat

